* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(60, 60, 203), rgb(153, 52, 69));
    animation: gradientShift 10s ease infinite;
    background-size: 200% 200%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {    
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.03);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    margin-bottom: 1.5rem;
}

.box label {
    display: block;
    margin-bottom: 5px;
}

.box input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.box input:focus,
{
    border-color: #007BFF;
}

button {
    width: 50%;
    padding: 0.8rem 3%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
::selection{
    color: white;
    background-color: black;
}